.theme-light{
    --operator:rgb(0, 221, 255);
    --body:black;
    --other:white;
}

.theme-dark{
    --operator:rgb(255, 111, 0);
    --body:white;
    --other:rgb(128, 128, 128);
}
body{
    margin: 0;
    background:var(--body);
    color: var(--other);
    font-size: 25px;
}
.container{
    max-width: 400px;
    margin: 20vh auto 0 auto;
}

.display{
    font-size: 20px;
    text-align: right;
    border-bottom: 1px solid #999;
    padding: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1em;
}

.btn{
    /*padding: 15px;*/
    text-align: center;
    cursor: pointer;
    line-height: 65px;
    border-radius: 15px;
    /*height: 40px;
    width: 40px;*/

}
.btn.s{
    color: var(--operator);
}
.btn.s:hover{
    background: none;
    color: var(--operator);
}
.btn:hover{
    background: var(--operator);
    color: var(--body);
    transition: 0.3s ease-in-out;
    
    
}

#switch{
    border: 1px solid var(--operator);
    border-radius: 10px;
    text-align: center;
    background: var(--body);
    color: var(--operator);
    width: 80px;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 3em;
    margin-left: 1em;
}
#switch:hover{
    color: white;
    background: var(--operator);
}